<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Humanitec – Welcome</title>
    <link href="https://assets.website-files.com/5c6595f458aeae6ccc288dc1/css/humanitec.1d6ece49d.min.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">WebFont.load({google: {families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Source Code Pro:regular"]}});</script>

    <link href="https://assets.website-files.com/5c6595f458aeae6ccc288dc1/5c6bd095ad6b3cd8a2f3901d_favicon-32x32.png"
          rel="shortcut icon" type="image/x-icon"/>
    <link href="https://assets.website-files.com/5c6595f458aeae6ccc288dc1/5c6bd11a6d2722558dc99cd7_humanitec-logo-256.png"
          rel="apple-touch-icon"/>
</head>
<body style="background-color: #1a1a1a;background-image: url(https://assets.website-files.com/5c6595f458aeae6ccc288dc1/5c6c2994bc6524512fc5116b_hero-background.svg),linear-gradient(90deg,#202428,#001224);">
<nav class="nav">
    <div class="flex is--nav"><a href="/" class="w-nav-brand w--current">
        <img src="https://assets.website-files.com/5c6595f458aeae6ccc288dc1/5c668f92efa14e61c28d1254_logo.svg" alt=""
            class="nav__logo"/></a>
        <div data-w-id="998e71c3-642b-da3d-2033-008504b3bb3e" class="hamburger">
            <div data-w-id="998e71c3-642b-da3d-2033-008504b3bb3f" class="nav__hamburger-line"></div>
            <div data-w-id="998e71c3-642b-da3d-2033-008504b3bb40" class="nav__hamburger-line"></div>
            <div data-w-id="998e71c3-642b-da3d-2033-008504b3bb41" class="nav__hamburger-line"></div>
        </div>
        <div data-w-id="998e71c3-642b-da3d-2033-008504b3bb42" class="nav-mobile is--hidden">
            <div class="nav-mobile__title">Be one of the first to test Walhall</div>


            <div><a href="/for-developers" class="nav-mobile__tile w-inline-block"><h3 class="nav-mobile__link-text">
                Freelancers and dev-teams</h3></a><a href="/for-corporate-it-teams"
                                                     class="nav-mobile__tile w-inline-block"><h3
                    class="nav-mobile__link-text">Corporate IT teams</h3></a><a href="/for-business-managers"
                                                                                class="nav-mobile__tile w-inline-block">
                <h3 class="nav-mobile__link-text">Business managers</h3></a><a href="/for-startups"
                                                                               class="nav-mobile__tile w-inline-block">
                <h3 class="nav-mobile__link-text">Startups</h3></a></div>
            <div>
                <div class="nav-mobile__title">Features</div>
                <a href="/understanding-commerce-open-source" class="nav-mobile__tile w-inline-block"><h3
                        class="nav-mobile__link-text">Reuse your code</h3>
                    <div>Our ownership model</div>
                </a><a href="/rapid-application-development" class="nav-mobile__tile w-inline-block"><h3
                    class="nav-mobile__link-text">Authenticate</h3>
                <div>How it works</div>
            </a><a href="/deployment-automation" class="nav-mobile__tile w-inline-block"><h3
                    class="nav-mobile__link-text">Run</h3>
                <div>Learn about deployment</div>
            </a></div>
            <div>
                <div class="nav-mobile__title">Resources</div>
                <a href="/blog" class="nav-mobile__tile w-inline-block"><h3 class="nav-mobile__link-text">For
                    developers</h3>
                    <div>Vist our blog</div>
                </a><a href="/find-a-partner" class="nav-mobile__tile w-inline-block"><h3 class="nav-mobile__link-text">
                For business</h3>
                <div>Find a partner</div>
            </a></div>
            <a href="https://docs.walhall.io" target="_blank"
               class="button is--on-dark mb-40 w-button">Documentation</a></div>
    </div>
</nav>
<section class="hero" style="padding: 0 !important;">
    <div class="flex is--hero">
        <div class="hero__text"><h1 class="hero__heading">This is a Django Blueprint</h1>
            <p><a href="/docs/" style="color: #ffffff">Swagger Docs</a></p>
            <p><a href="/admin/" style="color: #ffffff">Django Admin</a></p>
        </div>
        <img src="https://assets.website-files.com/5c6595f458aeae6ccc288dc1/5c7d44ecd99ee577188b2588_Home%20-%20Hero%20.svg"
             alt="" class="hero__image is--first-on-mobile"/></div>
</section>
</body>
</html>
